<div class="row">
    <div id="chart-option-browse-modal" class="shiny-plot-output col-sm-12" style="margin-top: 20px; display:none;">
        Color of group high :
        <select class="chart-option-color1">
            <option value="black">Black</option>
            <option value="gray">Gray</option>
            <option value="silver">Silver</option>
            <option value="red" selected>Red</option>
            <option value="pink">Pink</option>
            <option value="orange">Orange</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="violet">Violet</option>
        </select>&emsp;
        Line width (H):
        <select class="chart-option-width1">
            <option value="1.0">1.0</option>
            <option value="2.0" selected>2.0</option>
            <option value="3.0">3.0</option>
            <option value="4.0">4.0</option>
            <option value="5.0">5.0</option>
            <option value="6.0">6.0</option>
            <option value="7.0">7.0</option>
            <option value="8.0">8.0</option>
            <option value="9.0">9.0</option>
        </select>&emsp;
        Color of group low:
        <select class="chart-option-color2">
            <option value="black">Black</option>
            <option value="gray">Gray</option>
            <option value="silver">Silver</option>
            <option value="red">Red</option>
            <option value="pink">Pink</option>
            <option value="orange">Orange</option>
            <option value="blue" selected>Blue</option>
            <option value="green">Green</option>
            <option value="violet">Violet</option>
        </select>&emsp;
        Line width (L):
        <select class="chart-option-width2">
            <option value="1.0">1.0</option>
            <option value="2.0" selected>2.0</option>
            <option value="3.0">3.0</option>
            <option value="4.0">4.0</option>
            <option value="5.0">5.0</option>
            <option value="6.0">6.0</option>
            <option value="7.0">7.0</option>
            <option value="8.0">8.0</option>
            <option value="9.0">9.0</option>
        </select>&emsp;
        Censors color (H):
        <select class="chart-option-marker-color1">
            <option value="black" selected>Black</option>
            <option value="gray">Gray</option>
            <option value="silver">Silver</option>
            <option value="red">Red</option>
            <option value="pink">Pink</option>
            <option value="orange">Orange</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="violet">Violet</option>
        </select>&emsp;
        Censors color (L):
        <select class="chart-option-marker-color2">
            <option value="black" selected>Black</option>
            <option value="gray">Gray</option>
            <option value="silver">Silver</option>
            <option value="red">Red</option>
            <option value="pink">Pink</option>
            <option value="orange">Orange</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="violet">Violet</option>
        </select>&emsp;
        <br><br>
        Follow up threshold (years):
        <select id="chart-modal-time" name="chart-modal-time">
            <option value="0">-</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
        </select>
        &emsp;
        Split patients by:
        <select class="chart-option-cutoff">
            <option value="upper quartile">Upper Quartile</option>
            <option value="upper tertile">Upper Tertile</option>
            <option value="median" selected>Median</option>
            <option value="lower tertile">Lower Tertile</option>
            <option value="lower quartile">Lower Quartile</option>
            <option value="auto">Auto</option>
            <option value="tertile">Tertile</option>
            <option value="quartile">Quartile</option>
            <option value="manual">Manual</option>
        </select>
        
        <script>
            $(".chart-option-cutoff").change(function() {
                lp = $(this).siblings("[name='chart-LP']");
                hp = $(this).siblings("[name='chart-HP']");
                lp.attr('disabled', true);
                hp.attr('disabled', true);
                switch (this.value) {
                    case 'upper quartile':
                        lp.val(75);
                        hp.val(25);
                        break;
                    case 'upper tertile':
                        lp.val(67);
                        hp.val(33);
                        break;
                    case 'median':
                        lp.val(50);
                        hp.val(50);
                        break;
                    case 'lower tertile':
                        lp.val(33);
                        hp.val(67);
                        break;
                    case 'lower quartile':
                        lp.val(25);
                        hp.val(75);
                        break;
                    case 'tertile':
                        lp.val(33);
                        hp.val(33);
                        break;
                    case 'quartile':
                        lp.val(25);
                        hp.val(25);
                        break;
                    case 'Auto':
                        lp.val("");
                        hp.val("");
                        break;
                    case 'manual':
                        lp.attr('disabled', false);
                        hp.attr('disabled', false);
                        break;
                }
            });
        </script>

        <input type="number" id="chart-modal-HP" name="chart-HP" placeholder="Upper Percentile" min="0" max="100" style="width: 150px;" value="50" disabled/>
        <input type="number" id="chart-modal-LP" name="chart-LP" placeholder="Lower Percentile" min="0" max="100" style="width: 150px;" value="50" disabled/>
        
        <input type="button" value="Submit" name="chgChartTime" onclick="chgChartTime(true)" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div name="height_width_div" class="shiny-plot-output">
            Plot height:
            <input type="number" id="chart_height" name="chart_height" min="0" />
            Plot width:
            <input type="number" id="chart_width" name="chart_width" min="0" />
            <input type="button" value="Download PDF" onclick="downloadPdf(true)" />
        </div>
        <div id="chart-browse-modal" class="shiny-plot-output" style="width: 100%; height: 600px"></div>
        <div id="chart-cox-modal" class="shiny-plot-output" style="width: 100%;"></div>
        <div id="table-browse-modal" class="shiny-plot-output" style="width: 100%;"></div>
        <div id="chart2-browse-modal" class="shiny-plot-output" style="width: 100%;"></div>
        <div id="chart-modal-upload" class="shiny-plot-output" style="width: 100%; height: 600px"></div>
    </div>
</div>