{% extends 'base.html' %}

{% block content %}
<div id="main_structure">

    {% include "nav.html" %}

    <div class="container main-container">
        <div class="tab-pane">
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group shiny-input-container">
                        <label class="control-label" for="select-browse-tab1">Choose a cancer type <span class="browse-category"></span></label>
                        <div>
                            <select id="select-browse-tab1" class="form-control">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <br>
                    <button id="btn-browse" type="button" class="btn btn-default action-button type-btn">Browse</button>
                </div>
            </div>

            <br>
            <div class="row">
                <ul class="nav nav-tabs nav-sub-tab">
                    <li class="active">
                        <a href="#" data-value="logrank">Log Rank</a>
                    </li>
                    <li>
                        <a href="#" data-value="cox">Cox</a>
                    </li>
                    <li>
                        <a href="#" data-value="aft">AFT</a>
                    </li>
                    <li>
                        <a href="#" data-value="expression">Expression</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade active in">
                        <div class="row survival_type">
                            <div class="col-lg-12">
                                <div style="font-weight: bold; padding-top: 10px;">
                                   Select survival type:&emsp;
                                   <label><input type="radio" class="browse-radio" name="browse-mode" value="os" checked />
                                      Overall</label>&emsp;
                                   <label><input type="radio" class="browse-radio" name="browse-mode" value="pfi" /> Progression-Free</label>&emsp;
                                   <label><input type="radio" class="browse-radio" name="browse-mode" value="dfi" /> Disease-Free</label>&emsp;
                                   <label><input type="radio" class="browse-radio" name="browse-mode" value="dss" /> Disease-Specific</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <input type="button" id="download-btn1" class="download-data" value="Download" />
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-sm-12 datatable-box"></div>
                        </div><br><br><br>
                    </div>
                </div>
            </div>
            {% include 'includes/chart-option.html' %}

            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <div id="chart" class="shiny-plot-output" style="width: 100%; height: 600px"></div>
                        <div id="chart2" class="shiny-plot-output" style="width: 100%; height: 600px"></div>
                        <div id="chart-cox" class="shiny-plot-output" style="width: 100%;"></div>
                        <div id="chart-cox-option" class="shiny-plot-output" style="width: 100%; margin-bottom: 30px;"></div>
                        <div id="chart-upload" class="shiny-plot-output" style="width: 100%; height: 600px"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal -->
        <div class="modal fade" id="tbl-browse-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h3 class="modal-title">methylation 450k</h3>
                    </div>
                    <div class="modal-body">

                        <ul id="nav-browse-modal" class="nav nav-tabs nav-modal-sub-tab">
                            <li class="active">
                                <a href="#" data-value="logrank">Log Rank</a>
                            </li>
                            <li>
                                <a href="#" data-value="cox">Cox</a>
                            </li>
                            <li>
                                <a href="#" data-value="aft">AFT</a>
                            </li>
                            <li>
                                <a href="#" data-value="expression">Expression</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="row survival_type">
                                <div class="col-lg-12">
                                    <div style="font-weight: bold; padding-top: 10px;">
                                       Select survival type:&emsp;
                                       <label><input type="radio" class="browse-radio" name="browse-modal-mode" value="os" checked />
                                          Overall</label>&emsp;
                                       <label><input type="radio" class="browse-radio" name="browse-modal-mode" value="pfi" /> Progression-Free</label>&emsp;
                                       <label><input type="radio" class="browse-radio" name="browse-modal-mode" value="dfi" /> Disease-Free</label>&emsp;
                                       <label><input type="radio" class="browse-radio" name="browse-modal-mode" value="dss" /> Disease-Specific</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="button" id="download-btn2" class="download-data" value="Download" />
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-sm-12 datatable-modal-box"></div>
                            </div>
                        </div>
                        
                        {% include 'includes/chart-option-browse-modal.html' %}

                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div> <!-- end container -->

</div>

<form id="downloadForm" method="post" target="_blank"></form>

<script>
    var MY_DATA = {
        selectedCategory: '{{  category }}',
        selectedCancerType: "",
        selectedTab: "logrank",
        selectedMetaFeature: "",
        modalCategory: '',
        modalCancerType: "",
        modalTab: "",
        methylationGene: "",
        entrez: "",
        chartCategory: "",
        chartJsonResult: [],
        chartData: [],
        cancer_abbr: {
            "ACC": "Adrenocortical carcinoma",
            "BLCA": "Bladder Urothelial Carcinoma",
            "BRCA": "Breast invasive carcinoma",
            "CESC": "Cervical squamous cell carcinoma and endocervical adenocarcinoma",
            "CHOL": "Cholangiocarcinoma",
            "COAD": "Colon adenocarcinoma",
            "COADREAD": "Colon adenocarcinoma/Rectum adenocarcinoma Esophageal carcinoma",
            "DLBC": "Lymphoid Neoplasm Diffuse Large B-cell Lymphoma	",
            "ESCA": "Esophageal carcinoma",
            "FPPP": "FFPE Pilot Phase II",
            "GBM": "Glioblastoma multiforme",
            "GBMLGG": "Glioma",
            "HNSC": "Head and Neck squamous cell carcinoma",
            "KICH": "Kidney Chromophobe",
            "KIPAN": "Pan-kidney cohort (KICH+KIRC+KIRP)",
            "KIRC": "Kidney renal clear cell carcinoma",
            "KIRP": "Kidney renal papillary cell carcinoma",
            "LAML": "Acute Myeloid Leukemia",
            "LGG": "Brain Lower Grade Glioma",
            "LIHC": "Liver hepatocellular carcinoma",
            "LUAD": "Lung adenocarcinoma",
            "LUSC": "Lung squamous cell carcinoma",
            "MESO": "Mesothelioma",
            "OV": "Ovarian serous cystadenocarcinoma",
            "PAAD": "Pancreatic adenocarcinoma",
            "PCPG": "Pheochromocytoma and Paraganglioma",
            "PRAD": "Prostate adenocarcinoma",
            "READ": "Rectum adenocarcinoma",
            "SARC": "Sarcoma",
            "SKCM": "Skin Cutaneous Melanoma",
            "STAD": "Stomach adenocarcinoma",
            "STES": "Stomach and Esophageal carcinoma",
            "TGCT": "Testicular Germ Cell Tumors",
            "THCA": "Thyroid carcinoma",
            "THYM": "Thymoma",
            "UCEC": "Uterine Corpus Endometrial Carcinoma",
            "UCS": "Uterine Carcinosarcoma",
            "UVM": "Uveal Melanoma",
        },
        loadingFlag: 0,
        loadingModalFlag: 0,
        methylation27kTypes: [
            "UCEC",
            "GBM",
            "BRCA",
            "STAD",
            "COAD",
            "LAML",
            "LUAD",
            "LUSC",
            "OV",
            "KIRC",
            "KIRP",
            "READ"
        ],
        drop_image_columns: []
    }
</script>
<script src="static/browse.js"></script>
<script src="static/chart.js"></script>
{% endblock %}