{% extends 'base.html' %}

{% block content %}
<div id="main_structure">

   {% include "nav.html" %}

   <div class="container main-container">
      <div class="tab-content" data-tabsetid="2132">
         <table id="tutorialTable">
            <tr valign="top">
               <td style="width: 200px; padding: 10px">
                  <a>Overview of DoSurvive</a>
                  <hr>
                  <b>Browse Database</b>
                  <ul id="overviewSearch">
                     <li>
                        <a>Select a Cancer & a Gene</a>
                     </li>
                     <li>
                        <a>Select a Cancer</a>
                     </li>
                     <li>
                        <a>Select a Gene</a>
                     </li>
                     <li>
                        <a>*Explore methylation level and survival</a>
                     </li>
                  </ul>
                  <b>Explore Combined Effects</b>
                  <ul id="overviewInquiry">
                     <li>
                        <a>Two genes</a>
                     </li>
                     <li>
                        <a>More than Two Genes (>2 genes)</a>
                     </li>
                  </ul>
                  <b>Analyze your data</b>
                  <ul id="analyze_your_data">
                     <li>
                        <a>Analyze your data</a>
                     </li>
                  </ul>
                  <b>Statistics Analysis</b>
                  <ul id="overviewBrowse">
                     <li>
                        <a id="log_rank_test">Log-Rank test</a>
                     </li>
                     <li>
                        <a id="cox_regression">Cox regression</a>
                     </li>
                     <li>
                        <a id="aft_model">Accelerated Failure-Time model</a>
                     </li>
                     <li>
                        <a id="exp_methylation">Expression/methyaltion profiles</a>
                     </li>
                     <li>
                        <a id="mrna_methylation">The correlation of mRNA & methylation</a>
                     </li>
                  </ul>
                  <b>About</b>
                  <ul id="overviewAbout">
                     <li>
                        <a>Download Data</a>
                     </li>
                     
                     <li>
                        <a href="/statistics">Statistics</a>
                     </li>
                     <li><a href="/faq">FAQ</a></li>
                  </ul>
               </td>
               <td style="padding: 10px">
                  <!--Overview of DoSurvive-->
                  <div class="tutorialPage">
                     <div style="color: black; font-size: 15px;  padding-bottom: 2px;">
                        DoSurvival is a webserver and a database for survival analysis, DoSurvive provides three
                        survival analysis method: the 
                        <span style="color:#0080FF;">log-rank test</span>
                        , the 
                        <span style="color:#0080FF;">cox proportioanl hazard model</span> 
                        and the
                        <span style="color:#0080FF;">accelerated failure-time model</span>
                        ; and four survival types: overall survival, progression-free survival,
                        disease-free survival and disease-specific survival. For all three methods and four survival types,
                        DoSurvive offers five different quantiative features, namely expression level of protein, mRNA,
                        miRNA, lncRNA and the methylation levels of CpG sites, for up to 33 cancer types in TCGA.
                        With DoSurvive, users can:
                        <ol>
                           <li>Gene expression in cancers and survival analysis correlation</li>
                           <li><span style="color:#0080FF;">Log-rank test</span> results of different molecular types in specific cancers</li>
                           <li><span style="color:#0080FF;">Cox proportional hazard model</span> results of different molecular types in specific cancers</li>
                           <li><span style="color:#0080FF;">Accelerated Failure-Time model (AFT)</span> results of different molecular types in specific cancers</li>
                           <li>Gene expression level in normal and tumor samples</li>
                           <li>CpG site & mRNA correlation in cancer</li>
                           <li><span style="font-weight:bold; color:#0080FF;">Combined Effects, allow users to observe the relationship between multiple genes and survival, which is an innovative method by DoSurvival.</span></li>
                           <li><span style="color:#0080FF;">'Analyze your data'</span>, allows users to perform univariate/multivariant survival analysis with Log-rank test, Cox proportional hazard model or Accelerated Failure-Time model.</li>
                        </ol>
                        <div style="text-align: center;">
                           <img src="static/images/DoSurvive_dodo (1).png" style="width: 80%;" />
                        </div>
                     </div>
                  </div>

                  <!--Select cancer & gene-->
                  <div class="tutorialPage" style="display: none;">
                     <div style="color: red; font-size: 20px; font-weight: bold; padding-bottom: 5px;">
                        Select a Cancer & a Gene
                     </div>

                     <div style="color: black; font-size: 15px;  padding-bottom: 2px;">
                        A user who is interested in a specific cancer and a specific target feature can mouseover "Browse Database" and
                        then go to "Select Cancer & Gene" to browse the database.<br><br>
                        Step 1. Select a molecular type of interest from the list (red box shown below).
                        <br>
                        <div>
                           <img src="static/images/tutorial/cancer_gene_1.png" style="width: 80%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 2. Choose the cancer type of interest from the dropdown list.
                        <br>
                        *There will be different lists of cancers depending on the molecular type
                        chosen in Step 1.
                        <br>
                        <div>
                           <img src="static/images/tutorial/cancer_gene_2.png" style="width: 80%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 3. Enter a gene name and click "Browse" to obtain the survival analysis results.
                        Both the original p-values and adjusted p-values (BH corrected) will be listed.
                        <br>
                        <div>
                           <img src="static/images/tutorial/cancer_gene_3.png" style="width: 80%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 4. Choose a statistical method to explore the result. The user can click the
                        survival mode of interest and the corresponding plots or tables will be generated.
                        For example, if the user selects "Cox" and clicks "Progression-Free" (blue
                        box) a hazard ratio plot and a table of  detailed numbers will be shown (red box). If
                        the user selects "Log Rank", an interactive Kaplan-Meier plot will be shown (red box).
                        <br>
                        *The user can customize the color/thickness of the lines in the Kaplan-Meier plot. 
                        For more detail, see <a class="log_rank_test">Log-Rank test</a>.
                        <div>
                           <img src="static/images/tutorial/cancer_gene_4.png" style="width: 80%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 5. (optional) The user may remove feature(s) from the Cox regression or AFT model by unchecking the feature(s) and
                        clicking "calculate". For example, after unchecking "Sex" and clicking "calculate", the results from the new Cox regression
                        model are calculated on the fly, with output as follows:
                        <div>
                           <img src="static/images/tutorial/cancer_gene_5.png" style="width: 80%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 6. (optional) For mRNA, the user can further explore the correlation between a specific mRNA gene and its upstream CpG sites. 
                        By clicking the button labeled 450k or 27k, a pop-up window will show all the upstream CpG sites for the specified mRNA. The user can explore the survival analysis results or the beta values for this particular CpG site across different cancer types. 
                        For more details, see <a class="mrna_methylation">mRNA & methylation</a>.
                        <div>
                           <img src="static/images/tutorial/cancer_gene_6.png" style="width: 80%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                     </div>
                  </div>

                  <!--Select cancer-->
                  <div class="tutorialPage" style="display: none;">
                     <div style="color: red; font-size: 20px; font-weight: bold; padding-bottom: 5px;">
                        Select a Cancer
                     </div>

                     <div style="color: black; font-size: 15px;  padding-bottom: 2px;">
                        A user who is interested in a specific cancer can mouseover "Browse Database" and then
                        go to "Select Cancer" to browse the database.
                        <br>
                        <br>
                        Step 1. Select a molecular type of interest from the list (red box shown below).
                        <div>
                           <img src="static/images/tutorial/select_cancer_1.png" style="width: 80%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 2. Choose the cacner type of interest from the dropdown list and click "Browse".
                        <br>
                        *There will be different lists of cancers depending on the molecular type chosen in Step 1.
                        <div>
                           <img src="static/images/tutorial/select_cancer_2.png" style="width: 80%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 3. Choose a statistical method to explore the results. All the features for the selected
                        molecular type for the selected cancer will be shown and ranked by their adjusted p-value (BH corrected)
                        in a table. Significant risks and protective features will be shown in red and green, respectively.
                        <div>
                           <img src="static/images/tutorial/select_cancer_3.png" style="width: 80%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 4. The user can click the feature (gene) of interest and the corresponding plot or table
                        will be generated below the table. For example, if the user selects "Cox" and clicks a specific gene
                        (blue box), a hazard ratio plot and a table with detailed numbers will be shown (red box). If the user
                        selects "Log rank", an interactive Kaplan-Meier plot will be shown.
                        <br>
                        *The user can customize for color/thickness of the lines in the Kaplan-Meier plot. For more details,
                        see <a class="log_rank_test">Log-rank test</a>.
                        <div>
                           <img src="static/images/tutorial/select_cancer_4.png" style="width: 80%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 5. The user can select a survival type of interest to explore (red box) and the corresponding
                        table will be shown on the fly.
                        <div>
                           <img src="static/images/tutorial/select_cancer_5.png" style="width: 80%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 6. (optional) The user may remove feature(s) from the Cox regression or AFT model by unchecking
                        the features and clicking "calculate", the results from the new Cox regression model is calculated on
                        the fly, as follows:
                        <div>
                           <img src="static/images/tutorial/select_cancer_6.png" style="width: 80%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 7. (optional) For mRNA, the user can further explore the correlation between a specific mRNA gene and its upstream CpG
                        sites. By clicking the button labeled 450k or 27k, a pop-up window will show all the upstream CpG sites for
                        the specified mRNA. For more details, see <a class="exp_methylation">mRNA & methylation</a>.
                        <div>
                           <img src="static/images/tutorial/select_cancer_7.png" style="width: 80%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        <br>
                     </div>
                  </div>

                  <!--Select gene-->
                  <div class="tutorialPage" style="display: none;">
                     <div style="color: red; font-size: 20px; font-weight: bold; padding-bottom: 5px;">
                        Select a Gene
                     </div>
                     <div style="color: black; font-size: 15px;  padding-bottom: 2px;">
                        The user who is interested in specific gene can mouseover "Browse Database" and then go to "Select Gene" to browse the database.
                        <br>
                        <br>
                        Step 1. Select "Select Gene" (red box below).
                        <div>
                           <img src="static/images/tutorial/select_gene_1.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 2 . Choose the cancer type of interest form the dropdown list and click "Browse".
                        <div>
                           <img src="static/images/tutorial/select_gene_2.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 3. Choose a Statistical method from the dropdown list to explore the results. 
                        The survival analysis results for the queried gene across all cancer types will be displayed in a table and ranked by their adjusted p-values (BH corrected) in a table. 
                        Significant risk and protective features will be shown in red and green, respectively. 
                        <br>
                        *When methylation27k and methylation450k are loading, you are free to operate the current webpage.
                        <div>
                           <img src="static/images/tutorial/select_gene_3.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 4. The user can click the feature (gene) of interest and the corresponding plot or table will be generated below the table. 
                        For example, if the user selects "Log Rank" and clicks Mesothelioma (MESO) (blue box) an interactive Kaplan-Meier plot will be shown (red box).
                        <br>
                        *The user can customize the color/thickness of the lines and the follow up threshold or values used to split patients in the Kaplan-Meier plot. 
                        See <a class="log_rank_test">Log-rank test</a> for more details.
                        <div>
                           <img src="static/images/tutorial/select_gene_4.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 5. The user can select a survival type of interest to explore (red box) and the corresponding table will
                        be shown on the fly.
                        <div>
                           <img src="static/images/tutorial/select_gene_5.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 6. (optional) The user may remove feature(s) from the Cox regression or AFT model by unchecking the feature(s)
                        and clicking "calculate" (blue box). In the following example, after unchecking "Stage" and clicking "calculate" (which
                        violates PH assumption), the results from the new Cox regression model are calculated on the fly.
                        <div>
                           <img src="static/images/tutorial/select_gene_6.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 7. (optional) For mRNA, the user can further explore the correlation between a specific mRNA gene and its upstream CpG
                        sites. By clicking the button labeled 450k or 27k, a pop-up window will show all the upstream CpG sites for
                        the specified mRNA. For more details, see <a class="exp_methylation">mRNA & methylation</a>.
                        <div>
                           <img src="static/images/tutorial/select_gene_7.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                     </div>
                  </div>

                  <!--Explore methylation & survival-->
                  <div class="tutorialPage" style="display: none;">
                     <div style="color: red; font-size: 20px; font-weight: bold; padding-bottom: 5px;">
                        Explore Methylation Level & Survival
                     </div>
                     <div style="color: black; font-size: 15px;  padding-bottom: 2px;">
                        The user who is interested in the methylation levels of CpG sites can explore the survival analysis
                        results for CpG sites by querying their downstream genes.
                        <br>
                        <br>
                        Step 1. Go to the table of the survival analysis results for the gene of interest and
                        click button labeled 450k or 27k. A pop-up window will show the survival analysis results
                        for all the upstream CpG sites for the gene of interest.
                        <div>
                           <img src="static/images/tutorial/methylation_leve_1.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 2. Choose a statistical method from the dropdown list to explore the results.
                        The survival analysis results for the queried gene in all the cancer types will be shown
                        and ranked by their adjusted p-valuee (BH corrected) in a table. Significant risks
                        and protective features will be shown in red and green, respectively.
                        <div>
                           <img src="static/images/tutorial/methylation_leve_2.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 3. The user can click the CpG site of interest and the corresponding plot or table will
                        be generated below the table. For example, if the user selects "Log Rank" and selects a CpG
                        site (blue box), an interactive Kaplan-Meier plot will be shown (red box).
                        <br>
                        *The user can customize the color/thickness of the lines in the Kaplan-Meier plot. For more
                        details, see <a class="log_rank_test">Log-Rank test</a>.
                        <div>
                           <img src="static/images/tutorial/methylation_leve_3.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Stpe 4. The user can select a survival type of interest (red box) and the corresponding
                        table will be shown on the fly.
                        <div>
                           <img src="static/images/tutorial/methylation_leve_4.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 5. (optional) The user may remove feature(s) from the Cox regression or AFT model by
                        unchecking the feature(s) and clicking "calculate", which violates the PH assumption, the results
                        from the new Cox regression model are calculated on the fly.
                        <div>
                           <img src="static/images/tutorial/methylation_leve_5.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                     </div>
                  </div>

                  <!--Two genes-->
                  <div class="tutorialPage" style="display: none;">
                     <div style="color: red; font-size: 20px; font-weight: bold; padding-bottom: 5px;">
                        Two Genes
                     </div>

                     <div style="color: black; font-size: 15px;  padding-bottom: 2px;">
                        A user who is interested in the combined effect of two genes in survival, can mouseover "Explore
                        Combined Effects" and then go to "Two genes" to analyze the combined effect with the log rank test, the
                        cox proportional hazard or the accelerated failure-time (AFT) model.
                        <br>
                        <br>
                        Step 1. Select a combination of two genes from the list (red box shown below).
                        <div>
                           <img src="static/images/tutorial/two_gene_1.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 2. Choose the cancer type of interest from the dropdown list.
                        <div>
                           <img src="static/images/tutorial/two_gene_2.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 3. Enter two genes in the two text boxes (blue box) and select the groups (green box)
                        that are to be compared using log-rank test. Click "calculate".
                        <div>
                           <img src="static/images/tutorial/two_gene_3.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 4. Choose a statistical method to explore the results. The user click the survival type of
                        interest and the corresponding plot or table will be generated. For example, if the user selects
                        "Log Rank" and clicks "Progression-Free" (blue box), an interactive Kaplan-Meier will be shown (red box).
                        If the user selects "Cox" and click "Progression-Free", a hazard ratio plot and a table with detailed
                        numbers will be shown.
                        <br>
                        *The user can customize the color/thickness of the lines in the Kaplan-Meier plot. For more details,
                        see <a class="log_rank_test">Log-Rank test</a>.
                        <div>
                           <img src="static/images/tutorial/two_gene_4.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 5. (optional) The user may remove feature(s) from the Cox regression or AFT model by unchecking
                        the feature(s) and clicking "calculate". For example, after unchecking "Sex" and clicking "calculate",
                        the results from the new Cox regression model are calculated on the fly.
                        <div>
                           <img src="static/images/tutorial/two_gene_5.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                     </div>
                  </div>

                  <!-- > two genes-->
                  <div class="tutorialPage" style="display: none;">
                     <div style="color: red; font-size: 20px; font-weight: bold; padding-bottom: 5px;">
                        More than Two Genes (>2 Genes)
                     </div>

                     <div style="color: black; font-size: 15px;  padding-bottom: 2px;">
                        A user who is interested in the combined effect of more than two genes on survival can mouseover
                        "Explore Combined Effects" and then click ">2 genes" to analyze the combined effect with
                        the Cox proportional hazards model and the accelerated failure-time (AFT) model.
                        <br>
                        <br>
                        Step 1. Select ">2 genes" (red box shown below).
                        <div>
                              <img src="static/images/tutorial/more_gene_1.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 2. Choose the cancer type of interest from the dropdown list.
                        <div>
                              <img src="static/images/tutorial/more_gene_2.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 3. Enter the target mRNA genes, miRNA and lncRNA, in the first, second and third text box,
                        respectively. The entered gene will be listed directly below the text box and the user can remove
                        the entered gene by clicking wanted features. After all the genes have been filled in, click "calculate"
                        to implement the analysis.
                        <div>
                              <img src="static/images/tutorial/more_gene_3.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 4. Choose a statistical method for analysis. The user can click the survival
                        model of interest and the corresponding plot or table will be generated. For example, if the user
                        selects "Cox" and clicks "Progression-Free" (blue box) a hazard ratio plot and a table with
                        detailed numbers will be shown (red box).
                        <div>
                              <img src="static/images/tutorial/more_gene_4.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 5. (optional) The user may remove feature(s) from the Cox regression or AFT model by
                        unchecking the feature(s) and clicking "calculate". For example, after unchecking "Sex" and
                        clicking "calculate", the results from the new Cox regression model are calculated on the fly.
                        <div>
                              <img src="static/images/tutorial/more_gene_5.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                     </div>
                  </div>
                  
                  {% comment %} Analyze your data {% endcomment %}
                  <div class="tutorialPage" style="display: none;">
                     <div style="color: red; font-size: 20px; font-weight: bold; padding-bottom: 5px;">
                        Analyze your data
                     </div>

                     <div style="color: black; font-size: 15px;  padding-bottom: 2px;">
                        A User interested in running a log-rank test, Cox regression or AFT model on their own dataset can click on 'Analyze your data'.
                        <div>
                           <img src="static/images/tutorial/analyze_your_data_1.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 1. Click "Choose file" and select a file and then click "Load" to upload the file. 
                        <br>
                        * The uploaded data must have two columns, survival days and survival status, for survival analysis. 
                        Users who are unsure about the file format can download the demo data by clicking on "Download demo data"
                        <div>
                           <img src="static/images/tutorial/analyze_your_data_2.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 2. From these dropdown lists, the user needs to select one column as survival day (number of days) and another column as survival status, respectively. 
                        The user needs then choose whether to perform a log-rank test, Cox regression or AFT for survival analysis.
                        <div>
                           <img src="static/images/tutorial/analyze_your_data_4.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        <div>
                           <img src="static/images/tutorial/analyze_your_data_3.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 3. - Log Rank. 
                        The user can select a column from the radio buttons and click 'Submit' (blue box). 
                        An interactive Kaplan-Meier plot will be generated (red box). 
                        <br>
                        *The user can customize the color/thickness of the lines and the follow up threshold or values used to split patients in the Kaplan-Meier plot. 
                        See <a class="log_rank_test">Log-Rank test</a> for more details.
                        <div>
                           <img src="static/images/tutorial/analyze_your_data_5.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        Step 3. - Cox and AFT. 
                        In Cox and AFT analysis, the use needs to choose whether the columns to be analyzed are continuous or categorical. 
                        If the use chooses categorical features, the user needs to select a reference category.
                        <div>
                           <img src="static/images/tutorial/analyze_your_data_6.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        Click "Submit" (blue box) and the corresponding plot and table will be generated (red box).
                        See <a class="cox_regression">Cox regression</a>, or <a class="aft_model">Accelerated Failure-Time model</a> for more details.
                        <br>
                        <div>
                           <img src="static/images/tutorial/analyze_your_data_7.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        <br>
                     </div>
                  </div>

                  {% comment %} Log-rank Test {% endcomment %}
                  <div class="tutorialPage" style="display: none;">
                     <div style="color: red; font-size: 20px; font-weight: bold; padding-bottom: 5px;">
                        Log-rank Test
                     </div>
                     <div style="color: black; font-size: 15px;  padding-bottom: 2px;">
                        By default, DoSurvive uses the <span style="color: red;">median to divide the samples into two groups</span>, a high-expression group and a low-expression group, DoSurvive then conducts a Log-rank test for these two groups. 
                        The log-rank test yields the overall, disease-free, disease-specific, and progression-free p-value as well as the BH adjusted p-values (False-discovery rates).
                        <div>
                           <img src="static/images/tutorial/logrank_1.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        The user can click a gene they are interested in, and this will result in overall survival, disease-free survival, disease-specific survival and progression-free survival Kaplan-Meier plots. 
                        By default, the red line represents the high-performance group, the blue line represents the low-performance group, and n represents the sample sizes. 
                        DoSurvive allows the user to customize the Kaplan-Meier plot, i.e line thickness and color, size of plot, follow up threshold (years), and the percentages used to separate two groups of patients in Kapan-Merier plot. 
                        In addition, DoSurvive can automatically divide patients into two groups by adjusting the percentage cutoff by 5% increments and determine the best cutoff with the lowest p-value. 
                        DoSurvive also provides quartile, tertile, manual cutoff for dividing the data. Clicking "Submit" the Kaplan-Meier plot will be reproduced (red box).
                        <div>
                           <img src="static/images/tutorial/logrank_2.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                     </div>
                  </div>

                  {% comment %} Cox Regression {% endcomment %}
                  <div class="tutorialPage" style="display: none;">
                     <div style="color: red; font-size: 20px; font-weight: bold; padding-bottom: 5px;">
                        Cox Proportional Hazard model (Cox Regression)
                     </div>
                     <div style="color: black; font-size: 15px;  padding-bottom: 2px;">
                        The purpose of the Cox model is to evaluate the simultaneous effect of several
                        factors on survival. In other words, it allows us to examine how specific
                        factors influence the rate of a particular event happening (e.g., infection,
                        death) at a particular point in time. This rate is commonly referred to as the
                        hazard rate. Predictor variables (or factors) are usually termed covariates in
                        the survival-analysis literature.
                        <br>
                        <br>
                        The Cox model is expressed in terms of the hazard function, denoted by h(t), which briefly can
                        be interpreted as the relative risk of dying between times t and t+s, given survival to time t
                        (where s is a small value). In the cox model, the form of the hazard function is given by :
                        <div>
                           <img src="static/images/tutorial/cox_3.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        In the Cox regression results, a p-value of < 0.05 for coefficient βi indicates that gene expression i
                        has a significant impact on the hazard (i = 1,2,....,p). Red signifies a p-value of < 0.05 and a positive
                        coefficient (βi > 0), indicating that the increase in the expression of this gene has a negative impact on
                        survival; Green signifies a p-value of < 0.05 and a negative coefficient (βi < 0), indicating that the
                        increase in the expression of this gene has a positive impact on survival.
                        <div>
                           <img src="static/images/tutorial/cox_1.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        In "Cox regression results", the user can also click a gene/survival type to plot the hazard ratio
                        plot. DoSurvive provides both a hazard ratio plot and a table for the hazard ratios, confidence intervals,
                        p-values, and proportional hazard assumption p-values. The user can remove unwanted features from the
                        Cox model and reanalyze by unchecking variables (blue box) to get new results (red box).
                        <div>
                           <img src="static/images/tutorial/cox_2.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                     </div>
                  </div>

                  {% comment %} Accelerated Failure-Time model (AFT) {% endcomment %}
                  <div class="tutorialPage" style="display: none;">
                     <div style="color: red; font-size: 20px; font-weight: bold; padding-bottom: 5px;">
                        Accelerated Failure-Time model (AFT)
                     </div>
                     <div style="color: black; font-size: 15px;  padding-bottom: 2px;">
                        In survival analysis, an accelerated failure time model (AFT
                        model) is a parametric model that provides an alternative to the commonly used
                        proportional hazards models. Whereas a proportional hazards model assumes that the
                        effect of a covariate is to multiply the hazard by some constant, an AFT model
                        assumes that the effect of a covariate is to 
                        <span style="color: red;">accelerate</span> 
                        or 
                        <span style="color: red;">decelerate</span> 
                        the life course of a disease by some constant. 
                        <span style="color: red;">Red indicates p-value < 0.05 and coefficient is negative</span>
                        , indicates that the increase in the expression of this gene have a 
                        <span style="color: red;">negative impact</span> 
                        on survival which ;
                        <span style="color: #00EC00;">Green indicates p-value < 0.05 and coefficient is positive</span>
                        , indicates that the increase in the expression of this gene has a 
                        <span style="color: #00EC00;">positive impact</span> 
                        on survival. In full generality, the accelerated failure time model can be specified as :
                        <div style="text-align:center;">
                           <img src="static/images/tutorial/aft_3.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        In the AFT results, the user can also click a gene/survival type to plot the time ratio.
                        <div>
                           <img src="static/images/tutorial/aft_1.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        The user can remove unwanted features from the AFT model and reanalyzed by unchecking
                        variables (blue box) to get new results (red box).
                        <div>
                           <img src="static/images/tutorial/aft_2.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                     </div>
                  </div>

                  {% comment %} Expression/Methylation Profiles {% endcomment %}
                  <div class="tutorialPage" style="display: none;">
                     <div style="color: red; font-size: 20px; font-weight: bold; padding-bottom: 5px;">
                        Expression/Methylation Profiles
                     </div>
                     <div style="color: black; font-size: 15px;  padding-bottom: 2px;">
                        DoSurvive provides the profiles for the expression levels of a specific gene
                        (mRNA/miRNA/lncRNA) or protein and methylation levels for CpG sites in different
                        cancer types.
                        <br>
                        <br>
                        * Gene/protein: In the "Expression" tab, Expression (Normal) represents the average
                        expression of all normal samples; Expression (Tumor) represents the average expresssion
                        of all tumor samples. DoSurvive also calculates the Wilcoxon-rank sum test to confirm
                        whether there is a significant difference between the expression levels in normal samples
                        and in tumor samples.
                        <div>
                           <img src="static/images/tutorial/expression_methylation_1.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        By clicking on features of interest, an interactive box plot of the expression levels
                        across cancer types will be generated.
                        <div>
                           <img src="static/images/tutorial/expression_methylation_2.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        * CpG sites: For a gene of interest, the user can retrieve the methylation levels of its upstream
                        CpG sites via click buttons labeled as 27k or 450k in the table (blue box). A pop-up window for the
                        survival analysis results and Expression profile of the methylation levels from the upstream CpG
                        sites will be shown (red box).
                        <div>
                           <img src="static/images/tutorial/expression_methylation_3.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                     </div>
                  </div>

                  {% comment %} The Correlation of mRNA & Methylation {% endcomment %}
                  <div class="tutorialPage" style="display: none;">
                     <div style="color: red; font-size: 20px; font-weight: bold; padding-bottom: 5px;">
                        The Correlation of mRNA & Methylation
                     </div>
                     <div style="color: black; font-size: 15px;  padding-bottom: 2px;">
                        If a user wants to further explore how methylation regulates mRNA, DoSurvive provides
                        the relationship between the expression level of mRNA and the methylation levels of
                        its upstream CpG sites.
                        <br>
                        <br>
                        In the table for mRNA, the user can click 27k or 450k (blue box) to display the
                        analysis results (red box) for the methylation levels detected from different methylation
                        arrays, i.e. Illumina Infinium HumanMethylation27 BeadChip and Illumina Infinium HumanMethylation450 BeadChip.
                        <div>
                           <img src="static/images/tutorial/correlation_methylation_1.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        By clicking the "Expression" tab, the user can select the CpG site of interest and then
                        click "Start" to explore the correlation between the expression level of the selected gene
                        and the methylation level of its upstream CpG site(s).
                        <div>
                           <img src="static/images/tutorial/correlation_methylation_2.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                     </div>
                  </div>

                  {% comment %} Download data {% endcomment %}
                  <div class="tutorialPage" style="display: none;">
                     <div style="color: red; font-size: 20px; font-weight: bold; padding-bottom: 5px;">
                        Download data
                     </div>

                     <div style="color: black; font-size: 15px;  padding-bottom: 2px;">
                        Tables of all analysis results can be downloaded. The user can click "Download", "Copy", "CSV", "Excel", "PDF" or "Print"
                        to get the whole table.
                        <div>
                           <img src="static/images/tutorial/download_data_1.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        <div>
                           <img src="static/images/tutorial/download_data_2.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        In addition to the results table, all the clinical data used in the survival analysis can be downloaded
                        for further analysis.
                        <div>
                           <img src="static/images/tutorial/download_data_3.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        The downloaded clinical data has been processed, "pathologic_stage" has been classified as a categorical variable, "0" to represent
                        early stage, "1" to represent lately stage. "gender" has been classified as a categorical variable, "0" to represent female, "1" to
                        represent male. Expression data has been normalized (red box). The remaining columns provide user reference and do not participate in the regression model.
                        <div>
                           <img src="static/images/tutorial/download_data_4.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                        The Kaplan-Meier plot and forest plot in the survival analysis can be downloaded as PDF with customized height and width (red boxes).
                        <div>
                           <img src="static/images/tutorial/download_data_5.png" style="width: 100%; border:2px #ccc solid;padding:5px;"><br>
                        </div>
                        <br>
                     </div>
                  </div>
               </td>
            </tr>
         </table>
      </div>
   </div>
</div>


<script>
   // click tutorial side menu
   $('#tutorialTable a').each(function (index) {
      $(this).on('click', function () {
         $('.tutorialPage').hide();
         $('.tutorialPage').eq(index).show();
      })
   });

   $('.log_rank_test').on('click', function () {
      $('#log_rank_test').click();
   });

   $('.exp_methylation').on('click', function () {
      $('#exp_methylation').click();
   });

   $('.cox_regression').on('click', function () {
      $('#cox_regression').click();
   });

   $('.aft_model').on('click', function () {
      $('#aft_model').click();
   });

   $('.mrna_methylation').on('click', function () {
      $('#mrna_methylation').click();
   });
</script>
{% endblock %}
