{% extends 'base.html' %}
{% block style %}

{% endblock %}
{% block content %}
<div id="main_structure">

   {% include "nav.html" %}

   <div class="container">
      <form id="myForm">
         <div class="row">
            <div class="row col-lg-12" style="padding-top: 10px;">
               <div>
                  <label class="step">Step 1:</label>
                  <br>
                  <label class="title">File :</label>
                  <input type="file" id="input-file" name="file" style="display: inline-block;vertical-align: middle;" />
                  <input type="button" value="Load" id="load_col" class="btn btn-default action-button type-btn" style="display: inline-block;vertical-align: middle; padding: 4px 12px" />
                  &nbsp;&nbsp;
                  <button onclick="downloadDemoData()">Download demo data</button>
               </div>
               <br>
               <div id="col_select_div" hidden>
                  <label class="step">Step 2:</label>
                  <br>
                  <label class="title">Survival day at:</label>
                  <select id="day_col" name="day_col"></select>
                  &nbsp;&nbsp;
                  <label class="title">Survival status at:</label>
                  <select id="status_col" name="status_col"></select>
                  <br>
                  <select id="select_a" class="form-control nav-select-gene">
                     <option value="logrank">Log Rank</option>
                     <option value="cox">Cox</option>
                     <option value="aft">AFT</option>
                  </select>
                  <br>
                  <br>

                  <label class="step">Step 3:</label>
                  <br>
                  <label class="title">Select column(s) to analyze:</label>
                  <br>
                  <div id="gene_expression_logrank_div" class="selectContainer"></div>
                  <div id="gene_expression_coxaft_div" class="selectContainer"></div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
               <br>
               <input type="button" value="Submit" id="submit_button" class="btn btn-default action-button type-btn" onclick="chgChartTime(false)" />
            </div>
         </div>
      </form>
      <hr>
      {% include 'includes/chart-option.html' %}
     </div>
   </div>
</div>

<script src="static/upload_data.js"></script>
<script src="static/chart.js"></script>
{% endblock %}